@font-face {
    font-family: "FM Mtavruli";
    src: url("/Assets/Fonts/Mtavruli/bpg_nino_mtavruli_normal.ttf");
}

@font-face {
    font-family: "FM Nusxuri";
    src: url("/Assets/Fonts/Nusxuri/bpg-ingiri-webfont.ttf");
}